################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develminibuildsop-eggs-directory=../../eggs/develop-eggs
parts = site-packages-2.4 site-packages-2.5 site-packages-2.6
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
setuptools = 0.6c9
[site-packages-2.4]
recipe = minitage.recipe:cmmi
url = ftp://gentoo.imj.fr/pub/gentoo/distfiles/libxml2-2.6.30.tar.gz
md5sum = 460e6d853e824da700d698532e57316b
pre-make-hook=${buildout:hooks-directory}/libxml.py:libxml2_24
#post-make-hook=${buildout:hooks-directory}/libxml.py:install
configure-options=
    --with-python=${buildout:directory}/../../dependencies/python-2.4/parts/part

[site-packages-2.5]
recipe = minitage.recipe:cmmi
url = ftp://gentoo.imj.fr/pub/gentoo/distfiles/libxml2-2.6.30.tar.gz
md5sum = 460e6d853e824da700d698532e57316b
pre-make-hook=${buildout:hooks-directory}/libxml.py:libxml2_25
#post-make-hook=${buildout:hooks-directory}/libxml.py:install
configure-options=
    --with-python=${buildout:directory}/../../dependencies/python-2.5/parts/part
[site-packages-2.6]
recipe = minitage.recipe:cmmi
url = ftp://gentoo.imj.fr/pub/gentoo/distfiles/libxml2-2.6.30.tar.gz
md5sum = 460e6d853e824da700d698532e57316b
pre-make-hook=${buildout:hooks-directory}/libxml.py:libxml2_26
post-make-hook=${buildout:hooks-directory}/libxml.py:install
configure-options=
    --with-python=${buildout:directory}/../../dependencies/python-2.6/parts/part
